<mat-card>
    <mat-card-title>Alterar Empresa</mat-card-title>
    <form>
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="empresa.nome"
          name="nome"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="CNPJ"
          [(ngModel)]="empresa.cnpj"
          name="cnpj"
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Data de Contratação</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="dataFundacao"
          [(ngModel)]="empresa.dataFundacao"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </form>
    <button mat-raised-button (click)="updateEmpresa()" color="primary">
      Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">Voltar</button>
  </mat-card>
  