<mat-toolbar class="header mat-elevation-z4" >
    <div class="col-12">
    <div class="row">
        <div class="col-sm">
            <span>
                <a routerLink="/">
                    <i class="material-icons">
                        home
                    </i>
                    Mentoria Lucas Briguenti
                </a>
            </span>
        </div>
        <div class="col-sm">
            <span *ngIf="dataUltimoPost" class="text-center">
                <h4>Último Post realizado as {{dataUltimoPost | date:"dd/MM/yyyy 'as' HH:mm"}}</h4>
            </span>
        </div>
        <div class="col-sm text-right">
          One of three columns
        </div>
      </div>
    </div>
    
</mat-toolbar>
