
<mat-card>
    <mat-card-title>Novo Funcionário</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="funcionario.nome" name="nome"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF"
            [(ngModel)]="funcionario.cpf" name="cpf"/>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createFuncionario()" color="primary">Registrar funcionário</button>
    <button mat-raised-button (click)="cancel()">Voltar</button>
</mat-card>



