<mat-card>
  <mat-card-title>Novo Funcionário</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [(ngModel)]="funcionario.nome"
        name="nome"
        required
      />
      <mat-error></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="CPF"
        [(ngModel)]="funcionario.cpf"
        name="cpf"
        [textMask]="{mask: MASKS.cpf.textMask}"
        required
      />
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Data de Contratação</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="dataContratacao"
        [(ngModel)]="funcionario.dataContratacao"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->
  </form>
  <button mat-raised-button (click)="createFuncionario()" color="primary">
    Registrar funcionário
  </button>
  <button mat-raised-button (click)="cancel()">Voltar</button>
</mat-card>
