
<mat-card>
    <mat-card-title>Nova Empresa</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" 
            [(ngModel)]="empresa.nome" name="nome"/>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CNPJ"
            [(ngModel)]="empresa.cnpj" name="cnpj"/>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Data da Fundação"
            [(ngModel)]="empresa.dataFundacao" name="dataFundacao"/>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="createEmpresa()" color="primary">Registrar empresa</button>
    <button mat-raised-button (click)="cancel()">Voltar</button>
</mat-card>