<mat-card>
  <mat-card-title>Excluir Funcionário</mat-card-title>
  <form>
    <mat-form-field>
      <input
        matInput
        placeholder="ID"
        [value]="funcionario.id"
        name="id"
        disabled="disabled"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Nome"
        [value]="funcionario.nome"
        name="nome"
        disabled="disabled"
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="CPF"
        [value]="funcionario.cpf"
        name="cpf"
        disabled="disabled"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Data de Contratação"
        [value]="funcionario.dataContratacao"
        name="dataContratacao"
        disabled="disabled"
      />
    </mat-form-field>
  </form>
  <button
    mat-raised-button
    (click)="deleteFuncionario()"
    color="warn"
    mat-dialog-close="true"
  >
    Excluir
  </button>
  <button mat-raised-button (click)="cancel()" mat-dialog-close="true">
    Voltar
  </button>
</mat-card>
